body {
	background:url('../img/bg.jpg')  center;
}

.ui-btn-left {
	width:69px;
	height:23px;
	margin-top:6px !important;
	margin-left:4px !important;
}

.ui-content {
	background:white;
}

.ui-header {
	background:url('../img/bg.jpg')  no-repeat center;
	-webkit-box-shadow: 0px 7px 30px 0px rgba(50, 50, 50, 0.53);
	-moz-box-shadow:    0px 7px 30px 0px rgba(50, 50, 50, 0.53);
	box-shadow:         0px 7px 30px 0px rgba(50, 50, 50, 0.53);
}

.ui-footer {
	-webkit-box-shadow: 0px -7px 30px 0px rgba(50, 50, 50, 0.53);
	-moz-box-shadow:    0px -7px 30px 0px rgba(50, 50, 50, 0.53);
	box-shadow:         0px -7px 30px 0px rgba(50, 50, 50, 0.53);
}